<section class="section section--img section--cover" id="cover">
    <div class="cover">
        <div class="cover__img-block">
            <picture class="cover__img-wrap">
                <img class="cover__img" src="img/cover-img-1.png" alt="dog">
            </picture>
        </div>
        <div class="container">
            <div class="cover__content">
                <div class="cover__head">
                    <h2 class="cover__title title title--bg">Not only people need a house</h2>
                    <p class="cover__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida 
                        est in porttitor  porttitor. Duis sodales elementum ipsum, vehicula 
                        condimentum erat fringilla et.</p>
                    <a href="#" class="cover__btn btn">Make a friend</a>
                </div>
            </div>
        </div>
    </div>
</section>