<section class="section section--bg section--donate">
    <div class="container">
        <figure class="figure">
            <picture class="figure__item figure__img-wrap">
                <img class="figure__img" src="img/donate-img-1.png" alt="">
            </picture>
            <figcaption class="figure__item figure__figcaption">
                <h2 class="figure__title title">In addition, you <br> can make a donation</h2>
                <div class="figure__bank-card">
                    <h4 class="figure__bank-title title">Name of the bank / Type of bank account</h4>
                    <a href="#" class="figure__btn btn">
                        <svg class="btn__icon" width="512" height="512">
                            <use xlink:href="#card"></use>
                        </svg>
                        <span class="figure__btn-text">8380 2880 8028 8791 7435</span>
                    </a>
                </div>
                <blockquote class="figure__blockquote">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</blockquote>
            </figcaption>
        </figure>
    </div>
</section>