<footer class="section section--img section--footer footer" id="contacts">
    <div class="container">
        <div class="footer__content">
            <div class="footer__col">
                <h2 class="footer__title title title--bg">For questions and suggestions</h2>
                <ul class="contacts">
                    <li class="contacts__item">
                        <a href="mailto:email@shelter.com" class="contacts__link">
                            <svg class="contacts__icon" width="512" height="512">
                                <use xlink:href="#email"></use>
                            </svg>
                            <span>email@shelter.com</span>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a href="tel:+136745677554" class="contacts__link">
                            <svg class="contacts__icon" width="512" height="512">
                                <use xlink:href="#tel"></use>
                            </svg>
                            <span>+13 674 567 75 54</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__title title title--bg">We are waiting for your visit</h2>
                <ul class="contacts">
                    <li class="contacts__item">
                        <a href="https://www.google.com/maps/place/%D0%91%D0%BE%D1%81%D1%82%D0%BE%D0%BD,+%D0%9C%D0%B0%D1%81%D1%81%D0%B0%D1%87%D1%83%D1%81%D0%B5%D1%82%D1%81,+%D0%A1%D0%A8%D0%90/@42.3145186,-71.1103703,11z/data=!3m1!4b1!4m5!3m4!1s0x89e3652d0d3d311b:0x787cbf240162e8a0!8m2!3d42.3600825!4d-71.0588801" target="_blank" rel="noopener noreferrer" class="contacts__link">
                            <svg class="contacts__icon" width="512" height="512">
                                <use xlink:href="#marker"></use>
                            </svg>
                            <span>Boston, Central Street, 1st (Entrance from the store)</span>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a href="https://www.google.com/maps/search/London,+South+Park,+18st/@51.4863139,-0.3079035,11z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" class="contacts__link">
                            <svg class="contacts__icon" width="512" height="512">
                                <use xlink:href="#marker"></use>
                            </svg>
                            <span>London, South Park, 18st</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--img">
                <picture class="footer__picture">
                    <img class="footer__img" src="img/footer-img-1.png" alt="pats">
                </picture>
            </div>
        </div>
    </div>
</footer>