<section class="section section--help" id="help">
    <div class="container">
        <h2 class="section__title title">Than you can help our shelter</h2>
        <ul class="helps">
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#pet-food"></use>
                    </svg>
                    <h3 class="help__title title">Pet food</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#ambulance"></use>
                    </svg>
                    <h3 class="help__title title">Transportation</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#ball"></use>
                    </svg>
                    <h3 class="help__title title">Toys</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#bowl"></use>
                    </svg>
                    <h3 class="help__title title">Bowls and cups</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#shampoo"></use>
                    </svg>
                    <h3 class="help__title title">Shampoos</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#pills"></use>
                    </svg>
                    <h3 class="help__title title">Vitamins</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#syringe"></use>
                    </svg>
                    <h3 class="help__title title">Medicines</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#leash"></use>
                    </svg>
                    <h3 class="help__title title">Collars / leashes</h3>
                </a>
            </li>
            <li class="helps__item">
                <a href="#" class="helps__link help">
                    <svg class="help__icon" width="512" height="512">
                        <use xlink:href="#cat"></use>
                    </svg>
                    <h3 class="help__title title">Sleeping area</h3>
                </a>
            </li>
        </ul>
    </div>
</section>