<section class="section section--bg section--our-pets" id="ourPets">
    <div class="container">
        <h2 class="section__title title">Our friends who <br> are looking for a house</h2>
        <div class="pets">
            <!-- Swiper -->
            <div class="swiper-container swiper-container--about">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="pet">
                            <a href="#" class="pet__link">
                                <picture class="pet__img-wrap">
                                    <img class="pet__img" src="img/pets/pet-img-1.png" alt="cat">
                                </picture>
                                <h3 class="pet__title title">Katrine</h3>
                            </a>
                            <a href="#" class="pet__btn btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pet">
                            <a href="#" class="pet__link">
                                <picture class="pet__img-wrap">
                                    <img class="pet__img" src="img/pets/pet-img-2.png" alt="dog">
                                </picture>
                                <h3 class="pet__title title">Jennifer</h3>
                            </a>
                            <a href="#" class="pet__btn btn">Learn More</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pet">
                            <a href="#" class="pet__link">
                                <picture class="pet__img-wrap">
                                    <img class="pet__img" src="img/pets/pet-img-3.png" alt="dog">
                                </picture>
                                <h3 class="pet__title title">Woody</h3>
                            </a>
                            <a href="#" class="pet__btn btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
             <!-- If we need navigation buttons -->
            <div class="swiper-btns">
                <div class="swiper-btns__btn swiper-btns__btn--prev">
                    <svg class="swiper-btns__btn-icon" width="16" height="16">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </div>
                <div class="swiper-btns__btn swiper-btns__btn--next">
                    <svg class="swiper-btns__btn-icon" width="16" height="16">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="#" class="section__btn btn">Get to know the rest</a>
    </div>
</section>