.section {
    &--cover {
        padding: 0;
        
        .container { min-height: 100%; }
    }
}

.cover {
    min-height: 100vh;
    padding-top: 120px;
    position: relative;
    @include flex($jc: flex-start);

    &:before {
        content: '';
        @include posA(0,0,0,0);
        background-color: rgba($medium-black, .3);
        z-index: 2;
        @media screen and (min-width: 992px) { background-color: transparent; }
    }
    &__img-block {
        width: 100%;
        @include posA(110px, 0, null, 0);
        display: block;
        overflow: hidden;

        @media screen and (min-width: 525px) { width: 75%; }
        @media screen and (min-width: 1170px) { width: 60%; }
    }
    &__img-wrap {
        display: block;
        @include full;   
    }
    &__img {
        @include posA($top: 50%, $left: 0);
        @include transform($delta_x: 0, $delta_y: -40%);
        min-width: 150%;
        min-height: 100%;

        @media screen and (min-width: 800px) { min-width: 100%; }
        @media screen and (min-width: 992px) {
            left: 50%;
            transform: translate(-40%, -40%);
            min-width: 100%;
        }
        @media screen and (min-width: 1440px) {
            transform: translate(-50%, -50%);
            min-width: 80%;
        }
    }
}

.cover {
    &__content {
        position: relative;
        z-index: 4;
    }
    &__head { max-width: 470px; }
    &__title {
        font-size: 4.4rem;
        max-width: 370px;
        overflow: hidden;
        max-height: 172px;
        @include clamp($clamp: 3);
    }
    &__text {
        color: $secondary-color;
        margin-top: $gap-30;
        overflow: hidden;
        max-height: 240px;
        @include clamp($clamp: 10);
        @media screen and (min-width: 992px) { color: $medium-gray; }
    }
    &__btn { margin-top: $gap-30; }
}