.section {
    &--help {
        .section__title { max-width: 300px; }
    }
}

.helps {
    @include flex($jc: space-evenly);
    flex-wrap: wrap;
    padding: 0 70px;
    &__item { 
        text-align: center;
        flex-basis: 200px;
        margin-top: $gap-60;
    }
}

.help {
    display: block;
    max-width: 170px;
    margin: 0 auto;

    &__icon {
        width: 60px;
        height: 60px;
        fill: $primary-color;
    }
    &__title {
        margin-top: 25px;
        @include tr;
    }

    @include hover {
        .help__icon { fill: $title-color; }
        .help__title { color: $primary-color; }
    }
}