$body-ff    : Arial, "Helvetica Neue", Helvetica, sans-serif;
$title-ff   : Georgia, 'Times New Roman', serif;
$btn-ff     : Georgia, 'Times New Roman', serif;
$contacts-ff: 'Times New Roman', serif;

$secondary-color : #fff;
$primary-color   : #f1cdb3;

$thin-gray   : #fafafa;
$light-gray  : #f6f6f6;
$medium-gray : #cdcdcd;
$dark-gray   : #545454;
$black-gray  : #4c4c4c;

$black        : #000;
$medium-black : #292929;

$body-bg        : $secondary-color;
$section-bg     : $thin-gray;
$section--bg-bg : $light-gray;
$btn-bg         : $primary-color;

$body-color    : $black-gray;
$title-color   : $dark-gray;
$btn-color     : $medium-black;
$menu-color    : $medium-gray;

$border-width: 1px;

$letter-space: .06em;

$gap-30 : 30px;
$gap-60 : 60px;